name: Laboratorio de Conexiones (Pruebas de Scraper)

on:
  workflow_dispatch: # Ejecución manual

jobs:
  test_access:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install requests

    # Scrape.do (API Gateway)
    - name: Prueba Scrape.do
      run: python experiments/prueba_scrapedo.py
      continue-on-error: true

    # Guardar Evidencia (HTML)
    - name: Subir Evidencia de Depuración
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: evidencia-pruebas
        path: |
          experiments/scrapedo_response.html
